version: '3.8'

services:
  # Serviço da API (Python/FastAPI)
  backend:
    build: .
    container_name: algor_backend
    restart: always
    volumes:
      # Persistir Banco de Dados SQLite
      - ./backend/sql_app.db:/app/backend/sql_app.db
    environment:
      - DATABASE_URL=sqlite:///./backend/sql_app.db
    # Não expomos a porta 8000 para fora, apenas para a rede interna do Docker (o Nginx acessa)

    # Serviço Web (Nginx)
  web:
    image: nginx:alpine
    container_name: algor_web
    restart: always
    ports:
      - "80:80"
    volumes:
      # Montar os arquivos estáticos (HTML/JS/CSS/Images)
      - .:/usr/share/nginx/html
      # Montar a configuração do Nginx
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend

# Rede compartilhada (opcional, pois docker-compose cria default)
networks:
  default:
    name: algor_network
